body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
}

.slider {
    width: 800px;
    height: 800px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.slides {
    display: flex;
    width: 100%;
    height: 100%
}

.slide {
    min-width: 100%;
    transition: 0.5;
    /* opacity: 0; */
}

.slide .active {
    opacity: 1;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.btn:hover {
    background: rgba(0,0,0,0.7);
}

.dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 5px;
    background: #777;
    border-radius: 50%;
    cursor: pointer;
}

.dot .active {
    background: #fff;
}