body {
    margin: 0;
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background: #1d1d1d;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #00ffaa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00dd88;
}

#taskList {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

#taskList li {
    background: #222;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background: darkred;
}