body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
    font-family: Arial, sans-serif;
}

.clock-container {
  background: #1c1c1c;
  padding: 40px 70px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

#clock {
  color: #00ff9d;
  font-size: 60px;
  letter-spacing: 3px;
}