body {
    background: #0a0a0a;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    width: 350px;
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #00ffaa;
    border: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.weather {
    margin-top: 20px;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    color: #e0970f;
}